.Portfolio {
  text-align: center;

  .banner {
    height: 294px;
    background: #000 url(./professional-experience.png) no-repeat center 49%;
    background-size: cover;
    margin: 0 -14px 14px -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 35px;
    color: #ff9900;
    font-family: Tahoma-Bold, Tahoma, serif;
    font-weight: bold;
    font-size: 62px;
  }

  > h1 { text-align: left; }
  .work-list {
    display: inline-flex;
    width: 86%;
    max-width: 1351px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .Portfolio {
    .work-list {
      width: 100%;
      max-width: unset;
    }
  }
}