.link {
  color: #f90;
  cursor: pointer;
  transition: all ease-in-out 300ms;

  &:hover {
    border-bottom: 1px solid #f90;

    &:active {
      opacity: 0.7;
    }
  }
}

.font-smaller {
  font-size: smaller;
}