.EmploymentDetails {
  display: flex;
  justify-content: center;
  padding: 62px 0 14px;

  .logo-wrapper {
    text-align: center;
    margin-right: 49px;

    a > .company-logo {
      transition: opacity ease-in-out 300ms;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    .company-logo {
      width: 434px;
      height: 434px;
      background: #c7c7c7 url("../../images/noimage.png") no-repeat center 49%;
      background-size: contain;
    }

    button.go-back {
      margin-top: 49px;
    }
  }

  .work-details {
    display: inline-flex;
    max-width: 798px;
    flex-direction: column;

    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h4.label {
      background-color: gainsboro;
      padding: 3px 7px;
      margin-bottom: 0;

      > *:not(:first-child) {
        margin-left: 7px;
      }
    }

    .company-name {
      text-transform: uppercase;
      margin: 0;
      color: #ff9900;
    }

    .company-address {
      margin: 0;
    }

    .inline-flex-image,
    div {
      display: inline-flex;
      flex-wrap: wrap;

      .img {
        width: 385px;
        margin: 7px;
      }
    }

    ul {
      padding-left: 21px;
    }

    li {
      line-height: 1.3;
    }

    li ~ ul ~ li {
      margin-top: 3px;
    }

    .inline-flex-image .img {
      height: 385px;
    }

    .inline-image {
      height: 343px;
    }

    .inline-flex-image .img,
    .inline-image {
      background-repeat: no-repeat;
      background-position: center;
      background-color: gainsboro;
      background-size: contain;
      max-width: 100%;
    }
  }
}

@media (max-width: 1325px) {
  .EmploymentDetails {
    flex-direction: column;
    align-items: center;

    .logo-wrapper {
      margin: 0;

      .company-logo {
        width: 294px;
        height: 294px;
      }

      button.go-back {
        margin: 21px 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .EmploymentDetails {
    .work-details {
      width: 100%;
      max-width: unset;
    }
  }
}