@import "fonts/Baybayin.css";
@media (prefers-reduced-motion: no-preference) {

}

.App {
  background-color: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  overflow: hidden;
}

.bybyn {
  font-family: Baybayin-Modern-Club, serif; }

[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: 0.14 !important;
  pointer-events: none !important;
}

.hidden { display: none !important; }
.gold { color: #f90; }