@import "fonts/Baybayin.css";
@import "fonts/TahomaBold.css";

@media (prefers-reduced-motion: no-preference) {

}

.App {
  background-color: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  padding: 14px;
  overflow: hidden;
}

.bybyn {
  font-family: Baybayin-Modern-Club, serif; }

[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: 0.14 !important;
  pointer-events: none !important;
}

.hidden { display: none !important; }
.gold { color: #f90; }

button {
  padding: 7px;
  cursor: pointer;
  &:active { opacity: 0.3; }
}

.text-center { text-align: center; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow-white {
  text-shadow: white -1px -2px;
}