@import "fonts/Baybayin.css";
@import "fonts/TahomaBold.css";
@import "fonts/PhosphateInline.css";
@import "fonts/OpenSansRegular.css";

@media (prefers-reduced-motion: no-preference) {

}

.App {
  font-family: Courier, "Courier New", monospace, OpenSans-Regular, Tahoma-Bold, serif;
  background-color: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  padding: 14px;
  overflow: hidden;
}

.bybyn {
  font-family: Baybayin-Modern-Club, serif; }

[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: 0.14 !important;
  pointer-events: none !important;
}

.hidden { display: none !important; }
.gold { color: #f90; }

button {
  transition: all ease-in-out 300ms;
  border-radius: 0;
  border: 1px solid gainsboro;
  padding: 7px 14px;
  cursor: pointer;
  line-height: 28px;

  &:hover { border: 1px solid #c7c7c7; }
  &:active { opacity: 0.3; }
}

.text-center { text-align: center; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow-white {text-shadow: white -1px -2px;}
.bold { font-weight: bold; }
.italic { font-style: italic; }